body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./Screen.png') center/cover no-repeat;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(82, 152, 17, 0.0); /* Adjust the alpha value for the desired level of blending */
}

.signup-container {
    background-color: rgba(0, 0, 17, 0.5); /* Adjust the alpha value for the desired level of blending */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    max-width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.signup-container h2 {
    color: #f42f2f;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold; /* Make the labels bold */
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-group p {
    margin: 10px 0 0;
    color: #09ba0c;
}
